body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
h1 {
  font-size: 30px;
  margin: 5px;
}
.game {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  position: relative;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
  margin-left: auto;
  margin-right: auto;
}

.grid div {
  width: 20px;
  height: 20px;
}
.game_data {
  position: absolute;
  right: 0;
}
.pac-dot {
  background-color: #0caa21;
  border: 7px solid #fff;
  box-sizing: border-box;
  border-radius: 50px;
}

.wall {
  background-color: blue;
}
.pac-man {
  background-color: yellow;
  border-radius: 50%;
  border: solid;
  box-sizing: border-box;
  position: relative;
}
.pac-man .pacman_eye{
  box-sizing: border-box;
  position: absolute;
  width: 4px;
	height: 4px;
	border-radius: 50%;
  top: 10%;
  right: 40%;
  background: #000;

}
.pac-man .pacman_mouth{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation-name: eat;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  background: #000;

}
@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  
  75% {
   clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  
  100% {
   clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}
.ghost {
  background-color: #e006bc;
  border-radius: 50% 50% 10% 10%;
  box-sizing: border-box;
  position: relative;
}
.ghost .left_eye {
  box-sizing: border-box;
  position: absolute;
  width: 4px;
	height: 4px;
	border-radius: 50%;
  top: 30%;
  left: 20%;
  background: #000;

}
.ghost .right_eye {
  box-sizing: border-box;
  position: absolute;
  width: 4px;
	height: 4px;
	border-radius: 50%;
  top: 30%;
  right: 20%;
  background: #000;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.movement_buttons {
  display: none;
}
@media screen and (max-width: 767px)  {
  .game {
    flex-direction: column;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 308px;
    height: 308px;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
  }
  
  .grid div {
    width: 11px;
    height: 11px;
  }
  .pac-dot {    
    border: 3px solid #fff;
    
  }
  
  .pac-man {
    
    border: solid 1px;
    
  }
  .pac-man .pacman_eye{
    
    width: 2px;
    height: 2px;
    
  
  }
  
  .ghost .left_eye {  
    width: 2px;
    height: 2px;
  
  }
  .ghost .right_eye {
    
    width: 2px;
    height: 2px;
    
  }
  .movement_buttons {
    display: block;
    margin-top: 20%;
  }
  .movement_buttons button {
    width: 90px;
    height: 50px;
  }
  .game_data {
    position: relative;
    
  }
}